// FAB Firestore Security Rules

rules_version = '2';
service cloud.firestore {
    match /databases/{database}/documents {

        // Read access to self account details
        match /accounts/{accountId} {
            allow read: if request.auth != null && request.auth.uid == accountId;
        }

        // Read and write access to user's family data
        match /families/{familyId} {

            // Get account data for currently signed-in user
            function getAccountData() {
                return get(/databases/$(database)/documents/accounts/$(request.auth.uid)).data;
            }

            allow read, write: if
                request.auth != null &&
                getAccountData().familyId == familyId;

            // Read and write to family avatars
            match /avatars/{document=**} {
                allow read, write: if 
                    request.auth != null &&
                    getAccountData().familyId == familyId;
            }

            // Read and write access to avatar inventory
            match /avatars/{avatarId}/inventory/{document=**} {
                allow read, write: if
                    request.auth != null && (
                        (getAccountData().avatarId == avatarId) ||
                        (
                            getAccountData().familyId == familyId &&
                            getAccountData().familyAdmin == true
                        )
                    );
            }
        }

        // Read access to all items for any user
        match /items/{document=**} {
            allow read: if request.auth!= null;
        }
    }
}